@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar */
  height: 12px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: grey; /* Color of the scrollbar */
  border-radius: 12px; /* Rounded corners */
}
